    ## www -> no-www ET http -> https
  ##RewriteCond %{HTTP_HOST} ^www.(.+)$ 
  ##RewriteRule ^ https://%1%{REQUEST_URI} [R=301,L,NE,QSA]
  ##RewriteCond %{HTTPS} off
  ##RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L,NE,QSA]

